###### Example 1: Duration Idle Time Between Bike Rides

In [1]:
import numpy as np
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [5]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))
print (Ar.shape)
print (Ar[0])
print ('First column:', Ar[:,0])

[[1 3]
 [2 4]] <class 'numpy.ndarray'>
(2, 2)
[1 3]
First column: [1 2]

In [8]:
print(np.log(Ar), np.mean(Ar), np.std(Ar), np.sum(Ar), np.max(Ar))

[[0.         1.09861229]
 [0.69314718 1.38629436]] 2.5 1.118033988749895 10 4

###### Pandas

In [9]:
import pandas as pd

In [10]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [11]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [12]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [13]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [14]:
print (s[4])
s[4] = 0
s

143.68

6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [15]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [16]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [17]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [22]:
s.index = [6,5,4,3,2,1]
print (s)

print (s[2])
print (s.loc[2]) # loc[] is used to access the index of the series

print (s.iloc[1]) # iloc[] is used to access elements by integer index

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
143.5
143.5
145.83

In [23]:
s.index = time_index
print (s['2017-01-03'])

143.68

In [24]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [25]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

###### pd shift()

In [26]:
import pandas as pd
import datetime
import random
import numpy as np

random.seed(38)
ride_start_time = datetime.datetime.today()
ride_end_time = ride_start_time + datetime.timedelta(minutes=20)
ride_start_times = []
ride_end_times = []
count_of_rides = 6

for ride in range(count_of_rides):
    minutes_between_rides = random.randint(8, 100)
    ride_start_time = ride_end_time + datetime.timedelta(minutes=minutes_between_rides)
    
    minutes_riding = random.randint(5, 25)
    ride_end_time = ride_start_time + datetime.timedelta(minutes=minutes_riding)
    
    ride_start_times.append(ride_start_time)
    ride_end_times.append(ride_end_time)
    
data = {'ride_start_time': ride_start_times,
        'ride_end_time':  ride_end_times
       }
df_bike_rides = pd.DataFrame(data)

In [27]:
df_bike_rides

             ride_start_time              ride_end_time
0 2020-05-24 10:44:43.539251 2020-05-24 11:02:43.539251
1 2020-05-24 12:04:43.539251 2020-05-24 12:12:43.539251
2 2020-05-24 12:28:43.539251 2020-05-24 12:44:43.539251
3 2020-05-24 14:21:43.539251 2020-05-24 14:40:43.539251
4 2020-05-24 15:35:43.539251 2020-05-24 15:41:43.539251
5 2020-05-24 17:06:43.539251 2020-05-24 17:16:43.539251

In [29]:
df_bike_rides['previous_ride_end_time'] = df_bike_rides['ride_end_time'].shift(periods=1)
df_bike_rides

,ride_start_time,ride_end_time,previous_ride_end_time
0,2020-05-24 10:44:43.539251,2020-05-24 11:02:43.539251,NaT
1,2020-05-24 12:04:43.539251,2020-05-24 12:12:43.539251,2020-05-24 11:02:43.539251
2,2020-05-24 12:28:43.539251,2020-05-24 12:44:43.539251,2020-05-24 12:12:43.539251
3,2020-05-24 14:21:43.539251,2020-05-24 14:40:43.539251,2020-05-24 12:44:43.539251
4,2020-05-24 15:35:43.539251,2020-05-24 15:41:43.539251,2020-05-24 14:40:43.539251
5,2020-05-24 17:06:43.539251,2020-05-24 17:16:43.539251,2020-05-24 15:41:43.539251

In [30]:
df_bike_rides['duration_bike_idle_between_rides'] = df_bike_rides['ride_start_time'] - df_bike_rides['previous_ride_end_time']
df_bike_rides

,ride_start_time,ride_end_time,previous_ride_end_time,duration_bike_idle_between_rides
0,2020-05-24 10:44:43.539251,2020-05-24 11:02:43.539251,NaT,NaT
1,2020-05-24 12:04:43.539251,2020-05-24 12:12:43.539251,2020-05-24 11:02:43.539251,01:02:00
2,2020-05-24 12:28:43.539251,2020-05-24 12:44:43.539251,2020-05-24 12:12:43.539251,00:16:00
3,2020-05-24 14:21:43.539251,2020-05-24 14:40:43.539251,2020-05-24 12:44:43.539251,01:37:00
4,2020-05-24 15:35:43.539251,2020-05-24 15:41:43.539251,2020-05-24 14:40:43.539251,00:55:00
5,2020-05-24 17:06:43.539251,2020-05-24 17:16:43.539251,2020-05-24 15:41:43.539251,01:25:00

In [31]:
df_bike_rides['minutes_bike_idle_between_rides'] = df_bike_rides['duration_bike_idle_between_rides'].dt.total_seconds()/60
df_bike_rides

,ride_start_time,ride_end_time,previous_ride_end_time,duration_bike_idle_between_rides,minutes_bike_idle_between_rides
0,2020-05-24 10:44:43.539251,2020-05-24 11:02:43.539251,NaT,NaT,NaN
1,2020-05-24 12:04:43.539251,2020-05-24 12:12:43.539251,2020-05-24 11:02:43.539251,01:02:00,62.0
2,2020-05-24 12:28:43.539251,2020-05-24 12:44:43.539251,2020-05-24 12:12:43.539251,00:16:00,16.0
3,2020-05-24 14:21:43.539251,2020-05-24 14:40:43.539251,2020-05-24 12:44:43.539251,01:37:00,97.0
4,2020-05-24 15:35:43.539251,2020-05-24 15:41:43.539251,2020-05-24 14:40:43.539251,00:55:00,55.0
5,2020-05-24 17:06:43.539251,2020-05-24 17:16:43.539251,2020-05-24 15:41:43.539251,01:25:00,85.0

In [32]:
avg_minutes_bikes_idle_between_rides = df_bike_rides['minutes_bike_idle_between_rides'].mean()
avg_minutes_bikes_idle_between_rides

63.0

###### Example 2: Duration Idle Time Between Bike Rides Per Unique Bike

In [34]:
data = {'ride_start_time': ride_start_times,
        'ride_end_time':  ride_end_times,
        'bike_id': [1, 22, 1, 1, 22, 22],
        'start_station': ["21st & Folsom", "21st & Folsom", "4th & King", "24th & Valencia", "4th & King",  "16th and Mission"],
        'end_station':  ["4th & King", "4th & King", "24th & Valencia", "Embarcadero & Market",  "16th and Mission", "4th & King"]
       }
df_bike_sharing = pd.DataFrame(data)
df_bike_sharing

,ride_start_time,ride_end_time,bike_id,start_station,end_station
0,2020-05-24 10:44:43.539251,2020-05-24 11:02:43.539251,1,21st & Folsom,4th & King
1,2020-05-24 12:04:43.539251,2020-05-24 12:12:43.539251,22,21st & Folsom,4th & King
2,2020-05-24 12:28:43.539251,2020-05-24 12:44:43.539251,1,4th & King,24th & Valencia
3,2020-05-24 14:21:43.539251,2020-05-24 14:40:43.539251,1,24th & Valencia,Embarcadero & Market
4,2020-05-24 15:35:43.539251,2020-05-24 15:41:43.539251,22,4th & King,16th and Mission
5,2020-05-24 17:06:43.539251,2020-05-24 17:16:43.539251,22,16th and Mission,4th & King

In [35]:
df_bike_sharing.sort_values(by=['bike_id', 'ride_start_time'], inplace=True)
df_bike_sharing

,ride_start_time,ride_end_time,bike_id,start_station,end_station
0,2020-05-24 10:44:43.539251,2020-05-24 11:02:43.539251,1,21st & Folsom,4th & King
2,2020-05-24 12:28:43.539251,2020-05-24 12:44:43.539251,1,4th & King,24th & Valencia
3,2020-05-24 14:21:43.539251,2020-05-24 14:40:43.539251,1,24th & Valencia,Embarcadero & Market
1,2020-05-24 12:04:43.539251,2020-05-24 12:12:43.539251,22,21st & Folsom,4th & King
4,2020-05-24 15:35:43.539251,2020-05-24 15:41:43.539251,22,4th & King,16th and Mission
5,2020-05-24 17:06:43.539251,2020-05-24 17:16:43.539251,22,16th and Mission,4th & King

In [36]:
df_bike_sharing['previous_bike_id'] = df_bike_sharing['bike_id'].shift(periods=1)
df_bike_sharing

,ride_start_time,ride_end_time,bike_id,start_station,end_station,previous_bike_id
0,2020-05-24 10:44:43.539251,2020-05-24 11:02:43.539251,1,21st & Folsom,4th & King,NaN
2,2020-05-24 12:28:43.539251,2020-05-24 12:44:43.539251,1,4th & King,24th & Valencia,1.0
3,2020-05-24 14:21:43.539251,2020-05-24 14:40:43.539251,1,24th & Valencia,Embarcadero & Market,1.0
1,2020-05-24 12:04:43.539251,2020-05-24 12:12:43.539251,22,21st & Folsom,4th & King,1.0
4,2020-05-24 15:35:43.539251,2020-05-24 15:41:43.539251,22,4th & King,16th and Mission,22.0
5,2020-05-24 17:06:43.539251,2020-05-24 17:16:43.539251,22,16th and Mission,4th & King,22.0

In [37]:
df_bike_sharing['previous_ride_end_time'] = df_bike_sharing['ride_end_time'].shift(periods=1)
df_bike_sharing

,ride_start_time,ride_end_time,bike_id,start_station,end_station,previous_bike_id,previous_ride_end_time
0,2020-05-24 10:44:43.539251,2020-05-24 11:02:43.539251,1,21st & Folsom,4th & King,NaN,NaT
2,2020-05-24 12:28:43.539251,2020-05-24 12:44:43.539251,1,4th & King,24th & Valencia,1.0,2020-05-24 11:02:43.539251
3,2020-05-24 14:21:43.539251,2020-05-24 14:40:43.539251,1,24th & Valencia,Embarcadero & Market,1.0,2020-05-24 12:44:43.539251
1,2020-05-24 12:04:43.539251,2020-05-24 12:12:43.539251,22,21st & Folsom,4th & King,1.0,2020-05-24 14:40:43.539251
4,2020-05-24 15:35:43.539251,2020-05-24 15:41:43.539251,22,4th & King,16th and Mission,22.0,2020-05-24 12:12:43.539251
5,2020-05-24 17:06:43.539251,2020-05-24 17:16:43.539251,22,16th and Mission,4th & King,22.0,2020-05-24 15:41:43.539251

In [42]:
df_bike_sharing['duration_bike_idle'] = \
(df_bike_sharing['ride_start_time']-df_bike_sharing['previous_ride_end_time'])\
.where(df_bike_sharing['bike_id'] == df_bike_sharing['previous_bike_id'])
df_bike_sharing

,ride_start_time,ride_end_time,bike_id,start_station,end_station,previous_bike_id,previous_ride_end_time,duration_bike_idle
0,2020-05-24 10:44:43.539251,2020-05-24 11:02:43.539251,1,21st & Folsom,4th & King,NaN,NaT,NaT
2,2020-05-24 12:28:43.539251,2020-05-24 12:44:43.539251,1,4th & King,24th & Valencia,1.0,2020-05-24 11:02:43.539251,01:26:00
3,2020-05-24 14:21:43.539251,2020-05-24 14:40:43.539251,1,24th & Valencia,Embarcadero & Market,1.0,2020-05-24 12:44:43.539251,01:37:00
1,2020-05-24 12:04:43.539251,2020-05-24 12:12:43.539251,22,21st & Folsom,4th & King,1.0,2020-05-24 14:40:43.539251,NaT
4,2020-05-24 15:35:43.539251,2020-05-24 15:41:43.539251,22,4th & King,16th and Mission,22.0,2020-05-24 12:12:43.539251,03:23:00
5,2020-05-24 17:06:43.539251,2020-05-24 17:16:43.539251,22,16th and Mission,4th & King,22.0,2020-05-24 15:41:43.539251,01:25:00

In [43]:
df_bike_sharing.drop(['previous_bike_id', 'previous_ride_end_time'], axis=1, inplace=True)
df_bike_sharing

,ride_start_time,ride_end_time,bike_id,start_station,end_station,duration_bike_idle
0,2020-05-24 10:44:43.539251,2020-05-24 11:02:43.539251,1,21st & Folsom,4th & King,NaT
2,2020-05-24 12:28:43.539251,2020-05-24 12:44:43.539251,1,4th & King,24th & Valencia,01:26:00
3,2020-05-24 14:21:43.539251,2020-05-24 14:40:43.539251,1,24th & Valencia,Embarcadero & Market,01:37:00
1,2020-05-24 12:04:43.539251,2020-05-24 12:12:43.539251,22,21st & Folsom,4th & King,NaT
4,2020-05-24 15:35:43.539251,2020-05-24 15:41:43.539251,22,4th & King,16th and Mission,03:23:00
5,2020-05-24 17:06:43.539251,2020-05-24 17:16:43.539251,22,16th and Mission,4th & King,01:25:00

In [44]:
df_bike_sharing['duration_bike_idle_seconds'] = df_bike_sharing['duration_bike_idle'].dt.total_seconds()
df_bike_sharing

,ride_start_time,ride_end_time,bike_id,start_station,end_station,duration_bike_idle,duration_bike_idle_seconds
0,2020-05-24 10:44:43.539251,2020-05-24 11:02:43.539251,1,21st & Folsom,4th & King,NaT,NaN
2,2020-05-24 12:28:43.539251,2020-05-24 12:44:43.539251,1,4th & King,24th & Valencia,01:26:00,5160.0
3,2020-05-24 14:21:43.539251,2020-05-24 14:40:43.539251,1,24th & Valencia,Embarcadero & Market,01:37:00,5820.0
1,2020-05-24 12:04:43.539251,2020-05-24 12:12:43.539251,22,21st & Folsom,4th & King,NaT,NaN
4,2020-05-24 15:35:43.539251,2020-05-24 15:41:43.539251,22,4th & King,16th and Mission,03:23:00,12180.0
5,2020-05-24 17:06:43.539251,2020-05-24 17:16:43.539251,22,16th and Mission,4th & King,01:25:00,5100.0

In [45]:
df_bike_sharing.groupby('bike_id')['duration_bike_idle_seconds']\
.mean().reset_index().rename(columns={'duration_bike_idle_seconds': 'avg_seconds_idle_between_rides'})

   bike_id  avg_seconds_idle_between_rides
0        1                          5490.0
1       22                          8640.0