###### Fetching Data

In [7]:
import quandl
quandl.ApiConfig.api_key = 'NxTUTAQswbKs5ybBbwfK'
aapl_table = quandl.get('WIKI/AAPL')
aapl_table.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.04,175.09,171.26,171.270,35247358.0
2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.00,172.68,168.60,168.845,41051076.0
2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.39,169.92,164.94,164.940,40248954.0
2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.07,173.10,166.44,172.770,36272617.0
2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.68,175.15,166.92,168.340,38962839.0

In [8]:
aapl = aapl_table['Adj. Close']['2017']
aapl.head()

Date
2017-01-03    114.715378
2017-01-04    114.586983
2017-01-05    115.169696
2017-01-06    116.453639
2017-01-09    117.520300
Name: Adj. Close, dtype: float64

In [9]:
print (aapl['2017-3'])

Date
2017-03-01    138.657681
2017-03-02    137.834404
2017-03-03    138.647762
2017-03-06    138.211326
2017-03-07    138.389868
2017-03-08    137.874080
2017-03-09    137.556672
2017-03-10    138.012946
2017-03-13    138.072460
2017-03-14    137.864161
2017-03-15    139.322254
2017-03-16    139.550391
2017-03-17    138.856061
2017-03-20    140.314154
2017-03-21    138.707276
2017-03-22    140.274478
2017-03-23    139.778528
2017-03-24    139.500796
2017-03-27    139.738852
2017-03-28    142.635200
2017-03-29    142.952608
2017-03-30    142.764147
2017-03-31    142.496334
Name: Adj. Close, dtype: float64

In [10]:
print (aapl['2017-2':'2017-4'])

Date
2017-02-01    127.159749
2017-02-02    126.942467
2017-02-03    127.485673
2017-02-06    128.680728
2017-02-07    129.905412
                 ...
2017-04-24    142.476496
2017-04-25    143.369205
2017-04-26    142.487208
2017-04-27    142.625281
2017-04-28    142.486415
Name: Adj. Close, Length: 61, dtype: float64

###### Resampling

In [11]:
by_month = aapl.resample('M').mean()
print (by_month)

Date
2017-01-31    118.093136
2017-02-28    132.456268
2017-03-31    139.478802
2017-04-30    141.728436
2017-05-31    151.386305
2017-06-30    147.233064
2017-07-31    147.706190
2017-08-31    158.856375
2017-09-30    157.606500
2017-10-31    157.811627
2017-11-30    172.214500
2017-12-31    171.893100
Freq: M, Name: Adj. Close, dtype: float64

In [12]:
by_week = aapl.resample('W').mean()
print (by_week.head())

Date
2017-01-08    115.231424
2017-01-15    117.755360
2017-01-22    118.461035
2017-01-29    119.667448
2017-02-05    124.313346
Freq: W-SUN, Name: Adj. Close, dtype: float64

In [14]:
# We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.
two_week  = aapl.resample('2W').mean()
print (two_week.head())

Date
2017-01-08    115.231424
2017-01-22    118.068993
2017-02-05    121.990397
2017-02-19    132.081078
2017-03-05    136.601142
Freq: 2W-SUN, Name: Adj. Close, dtype: float64

In [19]:
std = aapl.resample('W').std()    # standard deviation
max = aapl.resample('W').max()    # maximum value
min = aapl.resample('W').min()    # minimum value
print(std.head(2))
print(max.head(2))
print(min.head(2))

Date
2017-01-08    0.852296
2017-01-15    0.303965
Freq: W-SUN, Name: Adj. Close, dtype: float64
Date
2017-01-08    116.453639
2017-01-15    118.270913
Freq: W-SUN, Name: Adj. Close, dtype: float64
Date
2017-01-08    114.586983
2017-01-15    117.520300
Freq: W-SUN, Name: Adj. Close, dtype: float64

In [20]:
# Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. 
# To fetch those prices, we use the series.resample.agg() method:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print (last_day)

Date
2017-01-31    119.851150
2017-02-28    135.880362
2017-03-31    142.496334
2017-04-30    142.486415
2017-05-31    152.142689
2017-06-30    143.438008
2017-07-31    148.248489
2017-08-31    164.000000
2017-09-30    154.120000
2017-10-31    169.040000
2017-11-30    171.850000
2017-12-31    169.230000
Freq: M, Name: Adj. Close, dtype: float64

In [27]:
# Calculate the monthly rates of return using the data for the first day and the last day:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print (monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068580
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046283
2017-06-30   -0.059799
2017-07-31    0.037282
2017-08-31    0.097404
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.029720
2017-12-31   -0.010640
Freq: M, Name: Adj. Close, dtype: float64

In [29]:
print (monthly_return.mean())
print (monthly_return.std())
print (monthly_return.max())

0.026618693658441373
0.05225110837901464
0.09901826929328394

In [ ]:
# Another two methods frequently used on Series are .diff() and .pct_change(). 
# The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [30]:
print (last_day.diff())
print (last_day.pct_change())

Date
2017-01-31          NaN
2017-02-28    16.029211
2017-03-31     6.615972
2017-04-30    -0.009919
2017-05-31     9.656274
2017-06-30    -8.704681
2017-07-31     4.810482
2017-08-31    15.751511
2017-09-30    -9.880000
2017-10-31    14.920000
2017-11-30     2.810000
2017-12-31    -2.620000
Freq: M, Name: Adj. Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [31]:
# When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:
daily_return = last_day.pct_change()
print (daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [32]:
# Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:
daily_return = last_day.pct_change()
print (daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133743
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

In [34]:
# We can also simply remove NaN values by .dropna()
daily_return = last_day.pct_change().dropna()
print (daily_return)

Date
2017-02-28    0.133743
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067770
2017-06-30   -0.057214
2017-07-31    0.033537
2017-08-31    0.106251
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.016623
2017-12-31   -0.015246
Freq: M, Name: Adj. Close, dtype: float64

###### DataFrame

In [36]:
import pandas as pd
dict = {'AAPL': [143.5,  144.09, 142.73, 144.18, 143.77],
        'GOOG': [898.7,  911.71, 906.69, 918.59, 926.99],
        'IBM':  [155.58, 153.67, 152.36, 152.94, 153.49]}
dates = pd.date_range('2017-07-03', periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = dates)
df

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [37]:
df = aapl_table
print (df.Close.tail(5))
print (df['Adj. Volume'].tail(5))

Date
2018-03-21    171.270
2018-03-22    168.845
2018-03-23    164.940
2018-03-26    172.770
2018-03-27    168.340
Name: Close, dtype: float64
Date
2018-03-21    35247358.0
2018-03-22    41051076.0
2018-03-23    40248954.0
2018-03-26    36272617.0
2018-03-27    38962839.0
Name: Adj. Volume, dtype: float64

In [38]:
aapl_2016 = df['2016']
aapl_2016.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2016-01-04,102.61,105.368,102.00,105.35,67649387.0,0.0,1.0,99.136516,101.801154,98.547165,101.783763,67649387.0
2016-01-05,105.75,105.850,102.41,102.71,55790992.0,0.0,1.0,102.170223,102.266838,98.943286,99.233131,55790992.0
2016-01-06,100.56,102.370,99.87,100.70,68457388.0,0.0,1.0,97.155911,98.904640,96.489269,97.291172,68457388.0
2016-01-07,98.68,100.130,96.43,96.45,81094428.0,0.0,1.0,95.339552,96.740467,93.165717,93.185040,81094428.0
2016-01-08,98.55,99.110,96.76,96.96,70798016.0,0.0,1.0,95.213952,95.754996,93.484546,93.677776,70798016.0

In [40]:
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
aapl_month.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2016-08-31,105.66,106.5699,105.64,106.10,29662406.0,0.0,1.0,103.816156,104.710177,103.796505,104.248477,29662406.0
2016-09-30,112.46,113.3700,111.80,113.05,36379106.0,0.0,1.0,110.497491,111.391610,109.849008,111.077195,36379106.0
2016-10-31,113.65,114.2300,113.20,113.54,26419398.0,0.0,1.0,111.666724,112.236603,111.224577,111.558644,26419398.0
2016-11-30,111.56,112.2000,110.27,110.52,36162258.0,0.0,1.0,110.182071,110.814166,108.908004,109.154917,36162258.0
2016-12-31,116.65,117.2000,115.43,115.82,30586265.0,0.0,1.0,115.209202,115.752409,114.004271,114.389454,30586265.0

In [44]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
aapl_bar.head(13)

              Open      High     Low   Close
Date
2016-01-31   94.79   97.3400   94.35   97.34
2016-02-29   96.86   98.2300   96.65   96.69
2016-03-31  109.72  109.9000  108.88  108.99
2016-04-30   93.99   94.7200   92.51   93.74
2016-05-31   99.60  100.4000   98.82   99.86
2016-06-30   94.44   95.7700   94.30   95.60
2016-07-31  104.19  104.5500  103.68  104.21
2016-08-31  105.66  106.5699  105.64  106.10
2016-09-30  112.46  113.3700  111.80  113.05
2016-10-31  113.65  114.2300  113.20  113.54
2016-11-30  111.56  112.2000  110.27  110.52
2016-12-31  116.65  117.2000  115.43  115.82

In [45]:
print (aapl_month.loc['2016-03':'2016-06', ['Open', 'High', 'Low', 'Close']])

              Open    High     Low   Close
Date
2016-03-31  109.72  109.90  108.88  108.99
2016-04-30   93.99   94.72   92.51   93.74
2016-05-31   99.60  100.40   98.82   99.86
2016-06-30   94.44   95.77   94.30   95.60

In [48]:
import numpy as np
print(np.mean(aapl_bar.Close))
above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print (above)

104.62166666666667
              Open      High     Low   Close
Date
2016-03-31  109.72  109.9000  108.88  108.99
2016-08-31  105.66  106.5699  105.64  106.10
2016-09-30  112.46  113.3700  111.80  113.05
2016-10-31  113.65  114.2300  113.20  113.54
2016-11-30  111.56  112.2000  110.27  110.52
2016-12-31  116.65  117.2000  115.43  115.82

In [65]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change().copy()
print (aapl_bar)
drop = aapl_bar.dropna()
print (drop)

                       Open      High     Low   Close  rate_return
Date
2016-01-31 00:00:00   94.79   97.3400   94.35   97.34          NaN
2016-02-29 00:00:00   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31 00:00:00  109.72  109.9000  108.88  108.99     0.127211
2016-04-30 00:00:00   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31 00:00:00   99.60  100.4000   98.82   99.86     0.065287
2016-06-30 00:00:00   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31 00:00:00  104.19  104.5500  103.68  104.21     0.090063
2016-08-31 00:00:00  105.66  106.5699  105.64  106.10     0.018136
2016-09-30 00:00:00  112.46  113.3700  111.80  113.05     0.065504
2016-10-31 00:00:00  113.65  114.2300  113.20  113.54     0.004334
2016-11-30 00:00:00  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31 00:00:00  116.65  117.2000  115.43  115.82     0.047955
rate_return             NaN       NaN     NaN     NaN     0.000000
                       Open      High     Low   Close  rate_return
Date
2016-02-29 00:00:00   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31 00:00:00  109.72  109.9000  108.88  108.99     0.127211
2016-04-30 00:00:00   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31 00:00:00   99.60  100.4000   98.82   99.86     0.065287
2016-06-30 00:00:00   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31 00:00:00  104.19  104.5500  103.68  104.21     0.090063
2016-08-31 00:00:00  105.66  106.5699  105.64  106.10     0.018136
2016-09-30 00:00:00  112.46  113.3700  111.80  113.05     0.065504
2016-10-31 00:00:00  113.65  114.2300  113.20  113.54     0.004334
2016-11-30 00:00:00  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31 00:00:00  116.65  117.2000  115.43  115.82     0.047955

C:\acor\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [76]:
print(aapl_bar.Close.pct_change())
print(aapl_bar.Close.pct_change()[:-1])

print (aapl_bar.dropna())
concat = pd.concat([aapl_bar.dropna(), aapl_bar.Close.pct_change()[:-1]], axis = 1)
print (concat)

Date
2016-01-31 00:00:00         NaN
2016-02-29 00:00:00   -0.006678
2016-03-31 00:00:00    0.127211
2016-04-30 00:00:00   -0.139921
2016-05-31 00:00:00    0.065287
2016-06-30 00:00:00   -0.042660
2016-07-31 00:00:00    0.090063
2016-08-31 00:00:00    0.018136
2016-09-30 00:00:00    0.065504
2016-10-31 00:00:00    0.004334
2016-11-30 00:00:00   -0.026599
2016-12-31 00:00:00    0.047955
rate_return            0.000000
Name: Close, dtype: float64
Date
2016-01-31         NaN
2016-02-29   -0.006678
2016-03-31    0.127211
2016-04-30   -0.139921
2016-05-31    0.065287
2016-06-30   -0.042660
2016-07-31    0.090063
2016-08-31    0.018136
2016-09-30    0.065504
2016-10-31    0.004334
2016-11-30   -0.026599
2016-12-31    0.047955
Name: Close, dtype: float64
                       Open      High     Low   Close  rate_return
Date
2016-02-29 00:00:00   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31 00:00:00  109.72  109.9000  108.88  108.99     0.127211
2016-04-30 00:00:00   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31 00:00:00   99.60  100.4000   98.82   99.86     0.065287
2016-06-30 00:00:00   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31 00:00:00  104.19  104.5500  103.68  104.21     0.090063
2016-08-31 00:00:00  105.66  106.5699  105.64  106.10     0.018136
2016-09-30 00:00:00  112.46  113.3700  111.80  113.05     0.065504
2016-10-31 00:00:00  113.65  114.2300  113.20  113.54     0.004334
2016-11-30 00:00:00  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31 00:00:00  116.65  117.2000  115.43  115.82     0.047955
                       Open      High     Low   Close  rate_return     Close
Date
2016-01-31 00:00:00     NaN       NaN     NaN     NaN          NaN       NaN
2016-02-29 00:00:00   96.86   98.2300   96.65   96.69    -0.006678 -0.006678
2016-03-31 00:00:00  109.72  109.9000  108.88  108.99     0.127211  0.127211
2016-04-30 00:00:00   93.99   94.7200   92.51   93.74    -0.139921 -0.139921
2016-05-31 00:00:00   99.60  100.4000   98.82   99.86     0.065287  0.065287
2016-06-30 00:00:00   94.44   95.7700   94.30   95.60    -0.042660 -0.042660
2016-07-31 00:00:00  104.19  104.5500  103.68  104.21     0.090063  0.090063
2016-08-31 00:00:00  105.66  106.5699  105.64  106.10     0.018136  0.018136
2016-09-30 00:00:00  112.46  113.3700  111.80  113.05     0.065504  0.065504
2016-10-31 00:00:00  113.65  114.2300  113.20  113.54     0.004334  0.004334
2016-11-30 00:00:00  111.56  112.2000  110.27  110.52    -0.026599 -0.026599
2016-12-31 00:00:00  116.65  117.2000  115.43  115.82     0.047955  0.047955

In [61]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1, s2], axis = 1)
print (data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [63]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print (log_price)
concat = pd.concat([aapl_bar, log_price], axis = 1)
print (concat)

Date
2016-01-31 00:00:00    4.578210
2016-02-29 00:00:00    4.571510
2016-03-31 00:00:00    4.691256
2016-04-30 00:00:00    4.540525
2016-05-31 00:00:00    4.603769
2016-06-30 00:00:00    4.560173
2016-07-31 00:00:00    4.646408
2016-08-31 00:00:00    4.664382
2016-09-30 00:00:00    4.727830
2016-10-31 00:00:00    4.732155
2016-11-30 00:00:00    4.705197
2016-12-31 00:00:00    4.752037
rate_return                 NaN
Name: log_price, dtype: float64
                       Open      High     Low   Close  rate_return  log_price
Date
2016-01-31 00:00:00   94.79   97.3400   94.35   97.34          NaN   4.578210
2016-02-29 00:00:00   96.86   98.2300   96.65   96.69    -0.006678   4.571510
2016-03-31 00:00:00  109.72  109.9000  108.88  108.99     0.127211   4.691256
2016-04-30 00:00:00   93.99   94.7200   92.51   93.74    -0.139921   4.540525
2016-05-31 00:00:00   99.60  100.4000   98.82   99.86     0.065287   4.603769
2016-06-30 00:00:00   94.44   95.7700   94.30   95.60    -0.042660   4.560173
2016-07-31 00:00:00  104.19  104.5500  103.68  104.21     0.090063   4.646408
2016-08-31 00:00:00  105.66  106.5699  105.64  106.10     0.018136   4.664382
2016-09-30 00:00:00  112.46  113.3700  111.80  113.05     0.065504   4.727830
2016-10-31 00:00:00  113.65  114.2300  113.20  113.54     0.004334   4.732155
2016-11-30 00:00:00  111.56  112.2000  110.27  110.52    -0.026599   4.705197
2016-12-31 00:00:00  116.65  117.2000  115.43  115.82     0.047955   4.752037
rate_return             NaN       NaN     NaN     NaN     0.000000        NaN

In [80]:
df_volume = aapl_table.loc['2016-10':'2017-04', ['Volume', 'Split Ratio']].resample('M').agg(lambda x: x[-1])
print (df_volume)

df_2017 = aapl_table.loc['2016-10':'2017-04', ['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print (df_2017)

concat = pd.concat([df_volume, df_2017], axis = 1)
print (concat)

                Volume  Split Ratio
Date
2016-10-31  26419398.0          1.0
2016-11-30  36162258.0          1.0
2016-12-31  30586265.0          1.0
2017-01-31  49200993.0          1.0
2017-02-28  23482860.0          1.0
2017-03-31  19661651.0          1.0
2017-04-30  20247187.0          1.0
              Open     High     Low   Close
Date
2016-10-31  113.65  114.230  113.20  113.54
2016-11-30  111.56  112.200  110.27  110.52
2016-12-31  116.65  117.200  115.43  115.82
2017-01-31  121.15  121.390  120.62  121.35
2017-02-28  137.08  137.435  136.70  136.99
2017-03-31  143.72  144.270  143.01  143.66
2017-04-30  144.09  144.300  143.27  143.65
                Volume  Split Ratio    Open     High     Low   Close
Date
2016-10-31  26419398.0          1.0  113.65  114.230  113.20  113.54
2016-11-30  36162258.0          1.0  111.56  112.200  110.27  110.52
2016-12-31  30586265.0          1.0  116.65  117.200  115.43  115.82
2017-01-31  49200993.0          1.0  121.15  121.390  120.62  121.35
2017-02-28  23482860.0          1.0  137.08  137.435  136.70  136.99
2017-03-31  19661651.0          1.0  143.72  144.270  143.01  143.66
2017-04-30  20247187.0          1.0  144.09  144.300  143.27  143.65

In [81]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print (concat)

                       Open      High     Low   Close  rate_return  \
Date
2016-01-31 00:00:00   94.79   97.3400   94.35   97.34          NaN
2016-02-29 00:00:00   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31 00:00:00  109.72  109.9000  108.88  108.99     0.127211
2016-04-30 00:00:00   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31 00:00:00   99.60  100.4000   98.82   99.86     0.065287
2016-06-30 00:00:00   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31 00:00:00  104.19  104.5500  103.68  104.21     0.090063
2016-08-31 00:00:00  105.66  106.5699  105.64  106.10     0.018136
2016-09-30 00:00:00  112.46  113.3700  111.80  113.05     0.065504
2016-10-31 00:00:00  113.65  114.2300  113.20  113.54     0.004334
2016-11-30 00:00:00  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31 00:00:00  116.65  117.2000  115.43  115.82     0.047955
2017-01-31 00:00:00     NaN       NaN     NaN     NaN          NaN
2017-02-28 00:00:00     NaN       NaN     NaN     NaN          NaN
2017-03-31 00:00:00     NaN       NaN     NaN     NaN          NaN
2017-04-30 00:00:00     NaN       NaN     NaN     NaN          NaN
rate_return             NaN       NaN     NaN     NaN     0.000000

                         Volume  Split Ratio
Date
2016-01-31 00:00:00         NaN          NaN
2016-02-29 00:00:00         NaN          NaN
2016-03-31 00:00:00         NaN          NaN
2016-04-30 00:00:00         NaN          NaN
2016-05-31 00:00:00         NaN          NaN
2016-06-30 00:00:00         NaN          NaN
2016-07-31 00:00:00         NaN          NaN
2016-08-31 00:00:00         NaN          NaN
2016-09-30 00:00:00         NaN          NaN
2016-10-31 00:00:00  26419398.0          1.0
2016-11-30 00:00:00  36162258.0          1.0
2016-12-31 00:00:00  30586265.0          1.0
2017-01-31 00:00:00  49200993.0          1.0
2017-02-28 00:00:00  23482860.0          1.0
2017-03-31 00:00:00  19661651.0          1.0
2017-04-30 00:00:00  20247187.0          1.0
rate_return                 NaN          NaN

In [82]:
concat = pd.concat([aapl_bar, df_volume], axis = 1, join = 'inner')
print (concat)

                       Open    High     Low   Close  rate_return      Volume  \
Date
2016-10-31 00:00:00  113.65  114.23  113.20  113.54     0.004334  26419398.0
2016-11-30 00:00:00  111.56  112.20  110.27  110.52    -0.026599  36162258.0
2016-12-31 00:00:00  116.65  117.20  115.43  115.82     0.047955  30586265.0

                     Split Ratio
Date
2016-10-31 00:00:00          1.0
2016-11-30 00:00:00          1.0
2016-12-31 00:00:00          1.0

In [83]:
print (df_volume)

                Volume  Split Ratio
Date
2016-10-31  26419398.0          1.0
2016-11-30  36162258.0          1.0
2016-12-31  30586265.0          1.0
2017-01-31  49200993.0          1.0
2017-02-28  23482860.0          1.0
2017-03-31  19661651.0          1.0
2017-04-30  20247187.0          1.0

In [84]:
print (aapl_bar)

                       Open      High     Low   Close  rate_return
Date
2016-01-31 00:00:00   94.79   97.3400   94.35   97.34          NaN
2016-02-29 00:00:00   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31 00:00:00  109.72  109.9000  108.88  108.99     0.127211
2016-04-30 00:00:00   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31 00:00:00   99.60  100.4000   98.82   99.86     0.065287
2016-06-30 00:00:00   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31 00:00:00  104.19  104.5500  103.68  104.21     0.090063
2016-08-31 00:00:00  105.66  106.5699  105.64  106.10     0.018136
2016-09-30 00:00:00  112.46  113.3700  111.80  113.05     0.065504
2016-10-31 00:00:00  113.65  114.2300  113.20  113.54     0.004334
2016-11-30 00:00:00  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31 00:00:00  116.65  117.2000  115.43  115.82     0.047955
rate_return             NaN       NaN     NaN     NaN     0.000000

In [85]:
append = aapl_bar.append(df_2017)
print (append)

                       Open      High     Low   Close  rate_return
Date
2016-01-31 00:00:00   94.79   97.3400   94.35   97.34          NaN
2016-02-29 00:00:00   96.86   98.2300   96.65   96.69    -0.006678
2016-03-31 00:00:00  109.72  109.9000  108.88  108.99     0.127211
2016-04-30 00:00:00   93.99   94.7200   92.51   93.74    -0.139921
2016-05-31 00:00:00   99.60  100.4000   98.82   99.86     0.065287
2016-06-30 00:00:00   94.44   95.7700   94.30   95.60    -0.042660
2016-07-31 00:00:00  104.19  104.5500  103.68  104.21     0.090063
2016-08-31 00:00:00  105.66  106.5699  105.64  106.10     0.018136
2016-09-30 00:00:00  112.46  113.3700  111.80  113.05     0.065504
2016-10-31 00:00:00  113.65  114.2300  113.20  113.54     0.004334
2016-11-30 00:00:00  111.56  112.2000  110.27  110.52    -0.026599
2016-12-31 00:00:00  116.65  117.2000  115.43  115.82     0.047955
rate_return             NaN       NaN     NaN     NaN     0.000000
2016-10-31 00:00:00  113.65  114.2300  113.20  113.54          NaN
2016-11-30 00:00:00  111.56  112.2000  110.27  110.52          NaN
2016-12-31 00:00:00  116.65  117.2000  115.43  115.82          NaN
2017-01-31 00:00:00  121.15  121.3900  120.62  121.35          NaN
2017-02-28 00:00:00  137.08  137.4350  136.70  136.99          NaN
2017-03-31 00:00:00  143.72  144.2700  143.01  143.66          NaN
2017-04-30 00:00:00  144.09  144.3000  143.27  143.65          NaN

In [86]:
df_2017.columns = ['Change', 'High', 'Low', 'Close']
print (df_2017)
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print (concat)

            Change     High     Low   Close
Date
2016-10-31  113.65  114.230  113.20  113.54
2016-11-30  111.56  112.200  110.27  110.52
2016-12-31  116.65  117.200  115.43  115.82
2017-01-31  121.15  121.390  120.62  121.35
2017-02-28  137.08  137.435  136.70  136.99
2017-03-31  143.72  144.270  143.01  143.66
2017-04-30  144.09  144.300  143.27  143.65
                       Open      High     Low   Close  rate_return  Change
Date
2016-01-31 00:00:00   94.79   97.3400   94.35   97.34          NaN     NaN
2016-02-29 00:00:00   96.86   98.2300   96.65   96.69    -0.006678     NaN
2016-03-31 00:00:00  109.72  109.9000  108.88  108.99     0.127211     NaN
2016-04-30 00:00:00   93.99   94.7200   92.51   93.74    -0.139921     NaN
2016-05-31 00:00:00   99.60  100.4000   98.82   99.86     0.065287     NaN
2016-06-30 00:00:00   94.44   95.7700   94.30   95.60    -0.042660     NaN
2016-07-31 00:00:00  104.19  104.5500  103.68  104.21     0.090063     NaN
2016-08-31 00:00:00  105.66  106.5699  105.64  106.10     0.018136     NaN
2016-09-30 00:00:00  112.46  113.3700  111.80  113.05     0.065504     NaN
2016-10-31 00:00:00  113.65  114.2300  113.20  113.54     0.004334     NaN
2016-11-30 00:00:00  111.56  112.2000  110.27  110.52    -0.026599     NaN
2016-12-31 00:00:00  116.65  117.2000  115.43  115.82     0.047955     NaN
rate_return             NaN       NaN     NaN     NaN     0.000000     NaN
2016-10-31 00:00:00     NaN  114.2300  113.20  113.54          NaN  113.65
2016-11-30 00:00:00     NaN  112.2000  110.27  110.52          NaN  111.56
2016-12-31 00:00:00     NaN  117.2000  115.43  115.82          NaN  116.65
2017-01-31 00:00:00     NaN  121.3900  120.62  121.35          NaN  121.15
2017-02-28 00:00:00     NaN  137.4350  136.70  136.99          NaN  137.08
2017-03-31 00:00:00     NaN  144.2700  143.01  143.66          NaN  143.72
2017-04-30 00:00:00     NaN  144.3000  143.27  143.65          NaN  144.09