In [2]:
import pandas as pd
import numpy as np

sales = pd.read_excel("https://github.com/songlin81/Data-Science-Repo/blob/master/Jupyter/Weighed%20Average/sales-estimate.xlsx?raw=True", sheet_name="projections")
sales.head()

,Account,Name,State,Rep,Manager,Current_Price,Quantity,New_Product_Price
0,714466,Trantow-Barrows,MN,Craig Booker,Debra Henley,500,100,550
1,737550,"Fritsch, Russel and Anderson",MN,Craig Booker,Debra Henley,600,90,725
2,146832,Kiehn-Spinka,TX,Daniel Hilton,Debra Henley,225,475,255
3,218895,Kulas Inc,TX,Daniel Hilton,Debra Henley,290,375,300
4,412290,Jerde-Hilpert,WI,John Smith,Debra Henley,375,400,400

###### Verbose

In [6]:
sales["Current_Price"].mean(), sales["New_Product_Price"].mean()

(405.4166666666667, 447.0833333333333)

In [11]:
(sales["Current_Price"] * sales["Quantity"]).sum() / sales["Quantity"].sum(),\
(sales["New_Product_Price"] * sales["Quantity"]).sum() / sales["Quantity"].sum()

(342.5406871609403, 374.6383363471971)

###### Grouping Data with the Weighted Average

In [12]:
sales.groupby("Manager")["Current_Price"].mean()

Manager
Debra Henley     423.333333
Fred Anderson    387.500000
Name: Current_Price, dtype: float64

In [13]:
def wavg(group, avg_name, weight_name):
    """ http://stackoverflow.com/questions/10951341/pandas-dataframe-aggregate-function-using-multiple-columns
    In rare instance, we may not have weights, so just return the mean. Customize this if your business case
    should return otherwise.
    """
    d = group[avg_name]
    w = group[weight_name]
    try:
        return (d * w).sum() / w.sum()
    except ZeroDivisionError:
        return d.mean()

In [14]:
wavg(sales, "Current_Price", "Quantity")

342.5406871609403

In [15]:
sales.groupby("Manager").apply(wavg, "Current_Price", "Quantity")

Manager
Debra Henley     340.665584
Fred Anderson    344.897959
dtype: float64

In [16]:
sales.groupby("Manager").apply(wavg, "New_Product_Price", "Quantity")

Manager
Debra Henley     372.646104
Fred Anderson    377.142857
dtype: float64

In [17]:
sales.groupby(["Manager", "State"]).apply(wavg, "New_Product_Price", "Quantity")

Manager        State
Debra Henley   MN       632.894737
               TX       274.852941
               WI       440.000000
Fred Anderson  CA       446.428571
               NV       325.000000
               WA       610.000000
dtype: float64

###### Multiple Aggregations